body {
    text-align: center;
}

#lives li{
  display: inline;
}

#gameOverModal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  display: none;
  opacity: 1;
  transition: opacity 2s linear;
}

.fadeIn{
  transition: all 4s ease;
}
